/* 
    CSS for alle sidene
*/
main 
{
    text-align: center; 
    background-color: #f1ecda;
    overflow:hidden
}
nav
{
    padding-top: 40px;
    background-color: black;
    height: 120px;
}
ul 
{
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    float: right;
}
  
li 
{
    float: left;
    font-size: 1.2em;
}

li a 
{
    display: block;
    padding: 8px;
    text-decoration: none;
    color: white;
}
#resturantLogo
{
    float: left; position: relative; top: -15%; width: 15%; height: 90%; margin-bottom: -100px;
}
#logo2
{
    width: 80%;
    height: 50%;
}
p 
{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
strong
{
    font-size: 25px;
}
h1
{ 
    color: black;
    text-align: center;
    font-size: 2.5em;
}
    
h2
{
    color: black;
    text-align: center; 
    margin-left:40px;
    font-size: 2.5em; 
}
#button
{
    background-color: burlywood;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none; 
    font-size: 16px;
    margin: 4px 2px;
    padding: 15px 32px;
    width: 10%;
}

hr
{
    margin-top: 30px;
}

#divKontaktInfo
{
    border: 2px solid;
    background-color: black;
    color: white;
    position: relative;
    height: auto;
}
#divKontaktInfo p
{
    font-size: 18px;
}
#kontakt
{
    display: inline-block;
    width: 30%;
    height: 300px;
}
/* Code from https://stackoverflow.com/questions/4189868/what-does-media-screen-and-max-width-1024px-mean-in-css
Makes the code run if the width is less then the specified amount */
@media screen and (max-width: 1000px){
    #divKontaktInfo p
    {
        font-size: 12px;
    }
    #divKontaktInfo strong
    {
        font-size: 12px;
    }
    #resturantLogo
    {
        left: 30%; 
        top: 0px;
        width: 50%;
        height: 70%;
        position: none;
        margin-bottom: -0px
    }
    nav
    {
        padding-top: 40px;
        background-color: black;
        height: 150px;
    }
    li
    {
        font-size: 1.0em;
    }
    p
    {
        font-size: 20px;
    }
}


/*
  CSS for index siden
*/

#mainImg 
{
    height: 600px;
    width: 100%;
}

#indexMeny
{
    height: auto; 
    width: 90%; 
    background-color: #f9f9f6; 
    text-align: left; 
    left: 3%; 
    position: relative;
    padding-bottom: 15px;
}
#menyH2
{
    color: black;
    text-align: left;
    margin-left:40px;
    font-size: 2.5em; 
}
#indexMenyImg
{
    position: relative; 
    left: 420px; 
    top: -325px;
    height: 325px; 
    margin-bottom: -325px;
}
/* Code from https://stackoverflow.com/questions/4189868/what-does-media-screen-and-max-width-1024px-mean-in-css
Makes the code run if the width is less then the specified amount */
@media screen and (max-width: 1000px){
    #indexMenyImg{
       left: 0px; 
        top: 0px;
        margin-bottom: 0px;
        margin-top: 30px;
    }
    #indexMeny
    {
        height: auto;
        width: 90%; 
        background-color: #f9f9f6; 
        text-align: left; 
        left: 3%; 
        position: relative;
        padding-bottom: 15px
    }
}

/* Info og reservasjon siden*/
body{
    background: url("https://images-ext-2.discordapp.net/external/kIpjC6tyW-FxA-9ZHbN9szBtf57pfi-ao17Ih3cEync/%3Fcrop%3Dfaces%252Cedges%26cs%3Dtinysrgb%26fit%3Dcrop%26fm%3Djpg%26ixid%3DMnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjY2ODYxMjE1%26ixlib%3Drb-4.0.3%26q%3D60%26w%3D1200%26auto%3Dformat%26h%3D630%26mark-w%3D64%26mark-align%3Dtop%252Cleft%26mark-pad%3D50%26blend-mode%3Dnormal%26blend-alpha%3D10%26blend-w%3D1%26mark%3Dhttps%253A%252F%252Fimages.unsplash.com%252Fopengraph%252Flogo.png%26blend%3D000000/https/images.unsplash.com/photo-1559925393-8be0ec4767c8?width=588&height=309") no-repeat;
    background-size: cover;
    height: calc(80vh - 80px);
} 

:root{
    --white: #ffffff;
    --black: #2e3037;
    --gray: #7e858d;
} /* variables*/

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/* Header */
.header{
    background-color:rgb(34, 20, 4);
    position: sticky;
    top: 0;
    width: 100%;
}
/* Logo */
.logo{
    display: inline-block;
    color: rgb(255, 180, 104);
    font-size: 70px;
    margin-left: 10px;
}

/* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color:rgb(96, 57, 18) ;
    overflow: hidden;
}

.menu a{
    display: block;
    padding: 32px;
    color:  rgb(210, 141, 72);
}
.menu a:hover{
    background-color: navajowhite;
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */
.food{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}

/* Style label tag */
.food-line {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
} 
/* Style span tag */

.food-line::before,
.food-line::after{
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.food-line::before{
    top: 5px;
}
.food-line::after{
    top: -5px;
}

.side-menu {
    display: none;
} 


/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

/* Responsiveness */
@media (min-width: 768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: gray;

    }

    .food{
        display: none;
    }
}


body {
    font-weight: 50px;
    letter-spacing: 1px;
  } 

.container {
    background-color: rgb(212, 170, 114);
    margin: 180px;
    box-shadow: rgb(94, 59, 13);
    display: grid;
    grid-template-columns: 45% 35%;
  }
.container-tid{
   background-color: rgb(38, 2, 2);
   padding: 50px;
   border: 3px dashed #998100;
   outline-offset:  -30px;
   text-align: center;
  }

.heading{
    font-size: 35px;
    text-align: center;
  }

.heading-dager{
   color: rgb(230, 184, 124);
   font-size: 20px;
  }

.container-form{
   padding: 20px 0;
   margin: 0 auto;
   color: black;
  }

  form{
   display: grid;   
   grid-row-gap: 20px;
  }

  .form-field{
    display:flex;
    justify-content: space-between;
  }
