/* 
    CSS for alle sidene
*/
main 
{
    text-align: center; 
    background-color: #f1ecda;
    overflow:hidden;
}

nav
{
    padding-top: 40px;
    background-color: black;
    height: 120px;
}
#navMenyOnMobile
{
    opacity: 0;
    background-color:#ebdd85; 
    border: none;
    border-radius: 50px;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;   
    height: 60px; 
    width:190px;
}
#restaurantLogo
{
    float: left; position: relative; top: -15%; width: 15%; height: 115%; margin-bottom: -100px;
}

.logo2
{
    width: 80%;
    height: 80%;
}
ul 
{
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    float: right;
}
li a:hover 
{
    color:gold;
}

li 
{
    float: left;
    font-size: 1.2em;
}

li a 
{
    display: block;
    padding: 8px;
    text-decoration: none;
    color: white;
}


p 
{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
strong
{
    font-size: 25px;
}
h1
{ 
    color: black;
    text-align: center;
    font-size: 2.5em;
}
    
h2
{
    color: black;
    text-align: center; 
    margin-left:40px;
    font-size: 2.5em; 
}
#button
{
    background-color: burlywood;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none; 
    font-size: 16px;
    margin: 4px 2px;
    padding: 15px 32px;
    width: 10%;
}

hr
{
    margin-top: 30px;
}

#divKontaktInfo
{
    border: 2px solid;
    background-color: black;
    color: white;
    position: relative;
    height: auto;
    word-break: break-all;
}
#divKontaktInfo p
{
    font-size: 18px;
}
/* Fargen til epost adressen og telefon nummeret */
#divKontaktInfo a
{
    color: white;
    text-decoration: none;
}

.kontakt
{
    padding-top: 5px;
    display: inline-block;
    width: 30%;
    height: 150px;
}


ul{
    list-style: none;
}

/* Makes the code run if the width is less then 1000px */

@media (max-width: 1000px){
    #divKontaktInfo p
    {
        font-size: 12px;
    }
    #divKontaktInfo strong
    {
        font-size: 12px;
    }
    #restaurantLogo
    {
        left: 25%; 
        top: 0px;
        width: 200px;
        height: 60%;
        position: sticky;
        margin-bottom: -0px;

    }
    nav
    {
        padding-top: 30px;
        background-color: black;
        height: 290px;
    }
    ul
    {
        line-height: 30px;
        height: 0px;
        overflow: hidden;
        padding: 0px;
        display:grid;
        float: none;
        background-color: gray;
    }

    #navMenyOnMobile
    {
        opacity: 1;
        background-color: gray;
        color: white;
    }
    
    /* Navigasjonsmenyen fungerer på alle søkemotorer borsett fra safari. 
    General sibling og :fokus selectoren fungerer ikke på safari, pga en bug i safari. 
    Mer informasjon om bugen kan finnes på https://css-trics.com/webkit-sibling-bug
    Denne buggen gjør at navigasjonsmenyen ikke fungerer på safari.

    /* Logoen forsvinner når man åpner navigasjonsmenyen */
    #navMenyOnMobile:focus ~ #restaurantLogo
    {
        height: 0px;
        opacity: 0;
    }
    /* Navigasjonsmenyen går fra height: 0 til height: auto. Som gjør at menyen blir synlig.*/
    #navMenyOnMobile:focus ~ ul
    {
        height: auto;
    }
    
    ul:hover
    {
        height: auto;
    }
    ul:hover ~ ul ~ #restaurantLogo
    {
        height: 0px;
    }
    li
    {
        font-size: 1.0em;
        border:2px solid black ;
    }
    
    li a
    {
        display: block;
    }
    p
    {
        font-size: 20px;
    }
    .kontakt
    {
        height: 100px;
    }
    .h3
    {
        font-size: 16px;
    }
}

/*
  CSS for index siden
*/

#mainImg 
{
    height: 600px;
    width: 100%;
}
#indexInfo
{
    height: auto; 
    width: 50%; 
    background-color: #f9f9f6; 
    text-align: center; 
    left: 25%; 
    position: relative;
    padding-bottom: 35px;
    padding-left: 10px;
    border-radius: 50px;
    border: 1px solid #f9f9f6;
}

#indexMeny
{
    height: auto; 
    width: 30%; 
    background-color: #f9f9f6; 
    text-align: center; 
    left: 15%; 
    position: relative;
    padding-bottom: 35px;
    z-index: 5;
    padding-left: 10px;
    border-radius: 50px;
}
#indexH2
{
    color: black;
    text-align: center;
    font-size: 2.5em; 
}
#indexMenyImg
{
    position: relative; 
    left: 110px; 
    top: -315px;
    height: 385px; 
    z-index: 1;
    margin-bottom: -320px;
}
/* Makes the code run if the width is less then the specified amount */
@media screen and (max-width: 1000px){
    #indexMenyImg{
       left: 0px; 
        top: 0px;
        margin-bottom: 0px;
        margin-top: 30px;
    }

    #indexInfo
    {
        height: auto;
        width: 90%; 
        left: 3%; 
        position: relative;
        padding-bottom: 15px
    }

    #indexMeny
    {
        height: auto;
        width: 90%; 
        left: 3%; 
        position: relative;
        padding-bottom: 15px
    }
    .indexH2
    {
        font-size: 2em;
    }
}

/*Meny siden*/
#imgMeny
{ 
    opacity:0.9;
    filter: brightness(30%);
    width: 100%;
    z-index: -1;
} 

#bilde
{
    position: relative;
    color: white;
}

#meny{
    position: absolute;
    top: 40%;
    left: 15%;
    font-size: 120px;
    color: white;
}

#omRestaurant
{
    position: absolute;
    top:65%;
    left: 10%;
    font-size:30px;
    color:white;
    font-weight:400;
    font-family:serif;
}
#bookBord
 {
    position:absolute;
    background-color:#ebdd85; 
    border: none;
    border-radius: 50px;
    top: 85%;
    left:20%;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;   
    height: 60px; 
    width:190px;   
}
#bookBord a
{
    text-decoration: none; 
    color: black;
}

#overskrift
{
    font-size: 35px;
    text-align:center;
}

#allergier
{ 
    font-style: italic;
}

@media (max-width: 1000px)
{
    #bilde {opacity: 1;}
    #meny
    {
        position: relative;
        top: 0%;
        left: 0%;
        color: black;
        font-size: 90px;
    }

    #omRestaurant
    {
        position: relative;
        top: 0%;
        left: 0%;
        color: black;
    }
    #bookBord
    {
        position:relative;
        top: 0%;
        left: 0%;
        color: black;
    }
    #bookBord
    {
        color: black;
    }
}

/* Info og reservasjon siden*/
/* Css-en til første delen av reservasjon siden */
#h1Info
{
    text-align: center;
    font-size: 55px;
}
#pInfo
{
    border-bottom: 1.5px solid rgb(54, 26, 5);
    padding-bottom: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color:black;
    font-size: x-large;
    font-weight: lighter;
    letter-spacing: 1px;     
}
#h2Info
{
    text-align: center;
    color: black;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

/* Koden til informasjon boksen og reservasjon boksen */
.container 
{
    background-color: rgb(118, 74, 15);
    box-shadow: rgb(94, 59, 13);
    display: grid;
    grid-template-columns: 55% 45%;
    height: auto;
}
.containerVelkommen
{
    background-color: rgb(38, 2, 2);
    padding: 50px;
    border: 3px dashed #998100;
    outline-offset:  -30px;
    text-align: center;
}
.containerReservasjon
{
    padding-left: 10%;
    display: grid;
    border: 2px solid black;
    grid-template-columns: auto auto;
}
  
#heading
{
    font-size: 35px;
    text-align: center;
    color:white;
}

#headingTekst
{
   color: white;
   font-size: 20px;
}

form
{
    display: grid;   
    grid-row-gap: 20px;
}

  .formField{
    display:flex;
    justify-content: space-between;
  }

#pReservasjonInfo
{
    border-bottom: 1.5px solid rgb(54, 26, 5);
    padding-bottom: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color:white;
    font-size: x-large;
    font-weight: lighter;
    letter-spacing: 1px;     
} 

.btn
{
   height: 40px;
}

@media (max-width: 1000px)
{
    .container
    {
        grid-template-columns: none;
    }
}
/* Tilgjengelighet siden */
#tekstTilgjenglihet
{
    width: auto;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    height: auto;
}
#wave
{
    width: 100%;
}

/* Tema siden */
video
{
    height:30%;
    width:100%;
    object-fit: cover;
}
#tekstTema
{
    width: auto;
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
    height: auto;
}
#annonseTema
{
    height:60%;
    width:100%;
    object-fit: cover;
    background-color: black;
    color:gold;
    position: fixed;
    top: 90%;
    left: 0%;
}
#annonseTema a
{
    text-decoration: none; 
    color: white;
}
#annonseTema a:hover
{
    color: gold;
}